<style>
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .mat-toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #128c7e;
    color: white;
    font-weight: 600;
  }
  mat-label {
    color: white;
  }
  mat-input {
    color: white;
  }
  mat-form-field {
    margin-left: auto;
    margin-right: auto;
  }
  .chatWindow {
    padding: 5em;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
  }
</style>

<!-- Toolbar -->
<mat-toolbar>
  <span>Chat</span>
</mat-toolbar>

<div class="content" role="main">
  <div class="chatWindow">
    <ul>
      <li
        *ngFor="let message of webSocketService.chatMessages"
        style="padding-top: 1em"
      >
        <mat-card>
          <mat-card-subtitle>Alex</mat-card-subtitle
          >{{ message.message }}</mat-card
        >
      </li>
    </ul>
    <mat-form-field style="width: 100%; padding: ">
      <mat-label>Leave a comment</mat-label>
      <textarea
        matInput
        placeholder="Nimm ma bitte an oimdudler vom spar mid"
        (keyup.enter)="onEnter()"
        [(ngModel)]="message"
      ></textarea>
    </mat-form-field>
  </div>
</div>
